---
// NavigationTabs.astro
---

<div class="tabs" id="mainTabs">
  <div class="tab active" onclick="switchTab('tramites')">Mis trámites</div>
  <div class="tab" onclick="switchTab('nueva')">Nueva solicitud</div>
  <div class="tab" onclick="switchTab('programas')">Programas disponibles</div>
  <div class="tab" onclick="switchTab('notificaciones')">Notificaciones</div>
</div>
